* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
img,
ul,
li,
button,
input,
label,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #fff;
  background-color: #101935;
}
.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
  outline: pink solid;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1c2950;
}

.header .logo {
  display: flex;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}

.header .navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header .navigation ul li {
  margin: 0 15px;
}

.header .navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1em;
}

.hero {
  background-image: url(./images/hero.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero h1 {
  font-size: 3em;
}

.hero h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.hero p {
  margin-bottom: 20px;
}

.hero .button {
  background-color: #7d51e4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.benefits {
  display: flex;
  justify-content: space-around;
  background-color: #1c2950;
}

.benefit-item {
  text-align: center;
}

.reviews {
  background-image: url(./images/tt.png);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews .review {
  margin: 20px 0;
}

.order {
  background-color: #101935;
  text-align: center;
}

.order-form input,
.order-form button {
  display: block;
  width: 580px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.footer {
  padding: 20px;
  background-color: #1c2950;
  text-align: center;
}
